<h1>Lista de productos:</h1>
<ul>
  {{#each products}}
    <li>
      {{this.name}} - ${{this.price}} 
      <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
    </li>
  {{/each}}
</ul>

<script>
  async function deleteProduct(id) {
    const confirmation = confirm("Está seguro de eliminar este producto?");
    if (confirmation) {
      await fetch(`/products/${id}`, { method: "DELETE" });
      location.reload();
    }
  }
</script>
