<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>Lista de productos:</h2>
    <ul id="productList"></ul>

    <form id="newProductForm">
        <input type="text" id="productName" placeholder="Nombre del producto" required>
        <input type="number" id="productPrice" placeholder="Precio del producto" required>
        <button type="submit">Agregar</button>
    </form>

    <script>
        const socket = io();
        const productList = document.getElementById('productList');
        const newProductForm = document.getElementById('newProductForm');
        const productNameInput = document.getElementById('productName');
        const productPriceInput = document.getElementById('productPrice');

        socket.on('updateProducts', function(products) {
            productList.innerHTML = '';
            products.forEach(function(product) {
                const li = document.createElement('li');
                li.textContent = `${product.name} - $${product.price}`;
                productList.appendChild(li);
            });
        });

        newProductForm.addEventListener('submit', function(e) {
            e.preventDefault();
            const newProduct = {
                name: productNameInput.value,
                price: productPriceInput.value
            };
            socket.emit('newProduct', newProduct);
            productNameInput.value = '';
            productPriceInput.value = '';
        });
    </script>
</body>
</html>
